# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Testing
.pytest_cache/
htmlcov/
.coverage
coverage.xml
test-results.xml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual environment
venv/
.env/
